/* MAIN CSS STYLE */ 

/* ***************************DEBUG*************************** */ 
/* uncomment these to debug*/
/*section, p, h1, h2, h3, h4, div, img{
  border: 2px solid;
  border-color: orange; 
}
p#Break{
  border: 2px solid;
  border-color: red;
}*/
/* ########################################################### */

/* *****************STYLE COMMON TO ALL PAGES***************** */
/* ---------------------------BODY---------------------------- */
/* html page height to include an empty space at the bottom */
html{
	height: auto;
}
/* body black background color */ 
body{ 
  background-color: #000000;
}
/* selected text color */
::selection{
	background: #FF6600;
}
::-moz-selection{
	background: #FF6600;
}
/* ---------------------------TEXT---------------------------- */
/* font type for text in all pages */
@font-face {
  font-family: OCRA;
  src: local("OCRA"),
       local("OCRA-Bold"),
       url("media/fonts/ocra10.ttf");
  font-weight: bold;
}
ul, li, a, p, h1, h2, h3, h4, h5{
	font-family: OCRA;
	color: white;
}

/* --------------------------LINKS---------------------------- */
a#Link:link {	
	text-decoration: none; 
	text-shadow: 1px 1px #000000;
/*	vertical-align: middle;*/
}
a#Link:visited { color: #FFFFFF; }
a#Link:hover { color: #A0A0A0; text-decoration: none; }
a#Link.Underline:link {text-decoration: underline;}
ul#Link{
	list-style-type:none;
	color: transparent;
}
a#Link.Black {
  color: black;
  text-shadow: 1px 1px rgba(127, 127, 127, 0.5);
}
a#Link.Black:link{
  text-decoration: underline;
}
li#Link{
	display:inline;
}

/* --------------------------MENU----------------------------- */
iframe#Menu{
  position: relative;
  background: none transparent;
  border-color: transparent; /* use orange as markup then change to transparent*/ 
  top: -20px;
  width: 100%;
  /*height: 60px;*/
  height: 15%;
  min-height:60px;
}
h5#Menu{ 
  float: right;
  font-size: 1.4vw;
  max-width: 48em;
  min-font-size: 8px;
  margin:0;
  padding:0;
  text-align: right;
}
/* --------------------OTHER OBJECTS-------------------------- */
/* id to add black empty space at the bottom of every page */
#Empty{
	position: relative;
	float: left;
	width: 100%;
	height:30%;
	color: transparent;
  background-color: black;

  margin-top: -3%;
  z-index: 1;

  /* disable text selection */
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ########################################################### */

/* ************************PAGES STYLE************************ */ 

/* box link containing image thumbnail, title and description */
section#Project{
  position: relative;
  width: 70%;
  height: auto;
  margin-left: 15%; /* there is no float:center*/
  margin-top: 15%;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}
section#Project.First{
  margin-top: 5%;
}

section#Project.ListProject{
  margin-top: 10vh;
}

h1#Title{
  position: relative;
  word-wrap: break-word;
  margin-left: 55%;
  width: 45%;
  height: auto;
  font-size: 3vw;
  min-font-size: 14px;
  max-font-size: 28px;
}
p#Description{
  position: relative;
  word-wrap: break-word;
  margin-left: 55%;
  width: 45%;
  height: auto;
  font-size: 1.5vw;
  min-font-size: 8px;
  max-font-size: 16px;

  margin-bottom: 5%;
}
.Left{
  text-align: left;
}
h1#Title.Center, h4#Title.Center, p#Description.Center{
  width: 100%;
  text-align: center;
  margin-left: 0%;
}
h4#Title.ListProject{
  text-align: center;
  margin-top: 0px;
}
p#Description.ListProject{
  width: 100%;
  text-align: center;
  margin-left: 0%;
  margin-top: -15px;
  margin-bottom: 0%;
  max-font-size: 12px;
  min-font-size: 9px;
}
img#Thumbnail{
  float: left;
  margin-top: 0%;
  margin-left: 0%;
  width: 50%;
  height: auto;
  display: flex;
  -ms-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
  object-fit: cover;
}
/* ########################################################### */

/* **********************PROJECTS STYLE*********************** */ 

/* --------------------------iFRAME--------------------------- */
/* body iframe class is used only in pages with iframes, disabling body page scroll*/
body#Frame{ 
  height: 120%;
  overflow: hidden;
}
/* iframe style*/
iframe#Project{
  width: 100%;
  height: 65%;
}
iframe#Project.White{
  background-color: white;
}
/* -------------------------PROJECT--------------------------- */
div#Abstract{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  margin-left: 0%;
  min-height: 45%;
  height: auto;
  z-index: 1;
}
h2#Title {
  font-size: 4vw;
  min-font-size: 14px;
}
h2.Center, p.Center{
  text-align: center;
}
p#Abstract{
  margin-left: 0%;
  margin-top: 10vh;
  font-size: 1.5vw;
  min-font-size: 10px;
}
p#Abstract.Center{
  width: 90%;
  margin-left: 5%;
  text-align: center;
  /*text-align: justify;*/
  letter-spacing: 2px;
}

div#Info{
  background-color: black;
  position: relative;
  padding-top: 15%;
  padding-bottom: 0px;
  width: 100%;
  height: auto;
  z-index: 2;

}
h2#Info{
	font-size: 2vw;
  min-font-size:12px;
  letter-spacing: 6px;
  margin-bottom: 5%;	
}
p#Info{
  font-size: 1.2vw;
  min-font-size: 9px;
  letter-spacing: 2px;  
}

/* content footer*/ 
p#Footer{
  position: relative;
  width: 100%;
  font-size: 1.2vw;
  min-font-size: 9px;
  max-font-size: 13px;
  letter-spacing: 5px;
}
p#Footer.Center{
  text-align: center;
}
/* ------------------------CONTENT--------------------------- */
div#Content {
  position:relative;
/*  padding-top: 25%; */  
  margin: auto; /*center content div*/
  margin-top: 15%;
  width:100%;
  height: auto;
}
#Content.First{
  margin-top: 85vh;
  /*padding-top: 10%;*/
}
img#Album{
  position: relative;
  display: block; 
  max-width:100%; 
  max-height:100%; 
  width: auto; 
  height: auto; 
  margin:auto;
}
/* proper video resizing from: http://www.techenablement.com/a-simple-way-to-add-aspect-preserving-responsive-design-html5-animations-using-webgl/ */
div#Content.Video{
  margin-top: 0%;
}
.Video { 
  background-color: black;
  position: relative; 
  padding-bottom: 80%;
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; 
  z-index: 2;
} 
.Video iframe, 
.Video object, 
.Video embed { 
  position: absolute; 
  top: 15%; 
  left: 10%; 
  width: 80%; 
  height: 80%; 
}
/* ########################################################### */

/* ************************LISTS STYLE************************ */ 
div#List{
  /*overflow: scroll;*/

  float: left;
  position: relative;
  margin-left: 9vw;
  margin-right: 3vw;
  margin-top: -60px;
  /*margin-bottom: 7.5vh;*/
  margin-bottom: 60px;
  width: 90vw;
  height: auto;
}
h3#Title{
  position: relative;
  float: left;
  width: 100%;
  top: -30px;
  margin-left: 3vw;
  font-size: 2.5vw;
  min-font-size: 14px;
  max-font-size: 19px;
  height: auto;
}
h4#Subtitle{
  position: relative;
  float:left;
  width: 100%;
  margin-left: 3vw;
  top: -55px;
  font-size: 2vw;
  min-font-size: 11px;
  max-font-size: 15px;
}
p#List{
  position: relative;
  display: inline;
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 10px !important;
  /* unable to resize fonts, at least with google chrome*/

  color: black;
  /*background-color: rgba(255, 255, 255, 0.9);*/
  background-color: white;
  text-shadow: 1px 1px rgba(127, 127, 127, 0.5);
}
p#List.NoBg{
  background-color: black;
  color: white;
}
p#List.Bullet{
  margin-left: -3vw;
}
p#Break{
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 150%;
}
/* ########################################################### */

/* ************************ABOUT STYLE************************ */ 
body#About { 
  background: url(../media/pics/me.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#About { 
  float: left; 
  margin-left: 0vw;
  width: 50vw;
  height: auto;

  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
h3#About.Title{
  font-size: 2.5vw;
  min-font-size: 11px;
  max-font-size: 20px;
}
p#About.Text{
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 7vh;

  font-size: 1.2vw;
  min-font-size: 9px;
  max-font-size: 14px;
}
